@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
$main-green: #79dd09 !default;
$main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
$main-yellow: #bdbb49 !default;
$main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
$main-red: #bd150b !default;
$main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}

#accordion .panel{
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 0 0 1.2rem 3rem;
    position: relative;
}
#accordion .panel:before{
    content: "";
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #688e26 0%,#ff816a 100%);
    position: absolute;
    top: 0;
    left: -2px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
}
#accordion .panel-heading{
    padding: 0;
    background: #fff;
    position: relative;
}
#accordion .panel-heading:before{
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5rem;
    background: #fff;
    border: 1px solid #550527;
    position: absolute;
    top: 50%;
    left: -3rem;
    transform: translateY(-50%);
}
#accordion .panel-title a{
    display: block;
    padding: 15px 55px 15px 30px;
    font-size: 2rem;
    font-weight: 600;
    color: #550527;
    border: none;
    margin: 0;
    position: relative;
}

.panel-heading{
    i{
        font-size: 2.5rem;
        position: absolute;
        top: 30%;
        right: 2rem;
    }
}

#accordion .panel-body{
    padding: 30px 15px;
    border: none;
    font-size: 14px;
    color: #305275;
    line-height: 28px;
}
////////////////////////////////////////////////////////////////////////////////
body {
    font-family: "Baloo 2", cursive;
    font-size: 16px;
    color: #ffffff;
    text-rendering: optimizeLegibility;
    font-weight: initial;
}

.dark {
    background: #110f16;
}


.light {
    background: #f3f5f7;
}

a, a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}

/* Cards */
.postcard {
    flex-wrap: wrap;
    display: flex;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
    border-radius: 30px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: $logoDark;

    &.dark {
        background-color: #18151f;
    }
    &.light {
        background-color: #e1e5ea;
    }

    .t-dark {
        color: #18151f;
    }

    a {
        color: inherit;
    }

    h1,	.h1 {
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }

    .small {
        font-size: 80%;
        color: $logoDark;
        margin-left: 2rem;
    }

    .postcard__title {
        font-size: 1.75rem;
        margin-left: 2rem;
        color: $logoDark;
        a{
            font-size: 3rem !important;
            font-family: $headingFont;
        }
    }

    .postcard__img {
        max-height: 180px;
        width: 100%;
        object-fit: cover;
        position: relative;
    }

    .postcard__img_link {
        display: contents;
    }

    .postcard__bar {
        width: 50px;
        height: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background:linear-gradient(to right, rgba(255,255,255,0.8),$logoDark);
        transition: width 0.2s ease;
        margin-left: 2.5rem;
    }

    .postcard__text {
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .postcard__preview-txt {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%;
        font-size: 1.8rem;
        margin-left: 1rem;
    }

    .postcard__tagbox {
        display: flex;
        flex-flow: row wrap;
        font-size: 14px;
        margin: 20px 0 0 0;
        padding: 0;
        justify-content: center;

        .tag__item {
            display: inline-block;
            background: rgba(83, 83, 83, 0.4);
            border-radius: 3px;
            padding: 2.5px 10px;
            margin: 0 5px 5px 0;
            cursor: default;
            user-select: none;
            transition: background-color 0.3s;

            &:hover {
                background: rgba(83, 83, 83, 0.8);
            }
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        opacity: 1;
        border-radius: 10px;
    }

    &:hover .postcard__bar {
        width: 100px;
    }
}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;

        .postcard__title {
            font-size: 2rem;
        }

        .postcard__tagbox {
            justify-content: start;
        }

        .postcard__img {
            max-width: 300px;
            max-height: 100%;
            transition: transform 0.3s ease;
        }

        .postcard__text {
            padding: 3rem;
            width: 100%;
        }

        .media.postcard__text:before {
            content: "";
            position: absolute;
            display: block;
            background: #18151f;
            top: -20%;
            height: 130%;
            width: 55px;
        }

        &:hover .postcard__img {
            transform: scale(1.1);
        }

        &:nth-child(2n+1) {
            flex-direction: row;
        }

        &:nth-child(2n+0) {
            flex-direction: row-reverse;
        }

        &:nth-child(2n+1) .postcard__text::before {
            left: -24px !important;
            transform: rotate(4deg);
        }

        &:nth-child(2n+0) .postcard__text::before {
            right: -24px !important;
            transform: rotate(-4deg);
        }
    }
}
@media screen and (min-width: 1024px){
    .postcard__text {
        padding: 2rem 3.5rem;
    }

    .postcard__text:before {
        content: "";
        position: absolute;
        display: block;

        top: -20%;
        height: 130%;
        width: 55px;
    }

    .postcard.dark {
        .postcard__text:before {
            background: white;
        }
    }
    .postcard.light {
        .postcard__text:before {
            background: #e1e5ea;
        }
    }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
    background: $main-green;
    color: black;
}
.green .postcard__title:hover {
    color: $main-green;
}
.green .postcard__bar {
    background-color: $main-green;
}
.green::before {
    background-image: linear-gradient(
        -30deg,
        $main-green-rgb-015,
        transparent 50%
        );
}
.green:nth-child(2n)::before {
    background-image: linear-gradient(30deg, $main-green-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
    background: $main-blue;
}
.blue .postcard__title:hover {
    color: $main-blue;
}
.blue .postcard__bar {
    background-color: $main-blue;
}
.blue::before {
    background-image: linear-gradient(-30deg, $main-blue-rgb-015, transparent 50%);
}
.blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
    background: $main-red;
}
.red .postcard__title:hover {
    color: $main-red;
}
.red .postcard__bar {
    background-color: $main-red;
}
.red::before {
    background-image: linear-gradient(-30deg, $main-red-rgb-015, transparent 50%);
}
.red:nth-child(2n)::before {
    background-image: linear-gradient(30deg, $main-red-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
    background: $main-yellow;
    color: black;
}
.yellow .postcard__title:hover {
    color: $main-yellow;
}
.yellow .postcard__bar {
    background-color: $main-yellow;
}
.yellow::before {
    background-image: linear-gradient(
        -30deg,
        $main-yellow-rgb-015,
        transparent 50%
        );
}
.yellow:nth-child(2n)::before {
    background-image: linear-gradient(
        30deg,
        $main-yellow-rgb-015,
        transparent 50%
        );
}

@media screen and (min-width: 769px) {
    .green::before {
        background-image: linear-gradient(
            -80deg,
            $main-green-rgb-015,
            transparent 50%
            );
    }
    .green:nth-child(2n)::before {
        background-image: linear-gradient(
            80deg,
            $main-green-rgb-015,
            transparent 50%
            );
    }

    .blue::before {
        background-image: linear-gradient(
            -80deg,
            $main-blue-rgb-015,
            transparent 50%
            );
    }
    .blue:nth-child(2n)::before {
        background-image: linear-gradient(80deg, $main-blue-rgb-015, transparent 50%);
    }

    .red::before {
        background-image: linear-gradient(-80deg, $main-red-rgb-015, transparent 50%);
    }
    .red:nth-child(2n)::before {
        background-image: linear-gradient(80deg, $main-red-rgb-015, transparent 50%);
    }

    .yellow::before {
        background-image: linear-gradient(
            -80deg,
            $main-yellow-rgb-015,
            transparent 50%
            );
    }
    .yellow:nth-child(2n)::before {
        background-image: linear-gradient(
            80deg,
            $main-yellow-rgb-015,
            transparent 50%
            );
    }
}

#blog{
    padding-top: 7rem;
    background-color: white;
    border-radius: 0 0 2rem 2rem;
    article{
        margin-bottom: 5rem;
    }
    .postcard__text{

    }
}

////////////////////////////////////////////////////////////////////////////////

#single-blog{
    background-color: white;
    border-radius: 2rem;
    color: $logoDark;
    padding-top: 7rem;
    h1{
        font-size: 3.5rem;
        margin-bottom: 4rem;
    }
    h2{
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    h3{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    p{
        margin-bottom: 5rem;
    }
    div.panel-body{
        p{
            margin: 0;
        }
    }
    img{
        margin-top: 7rem;
        margin-bottom: 9rem;
        -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    }

}

@media(min-width:992px){

    #single-blog{
        img{
            margin-top: 11rem;
            margin-bottom: 9rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }

}

#last3posts{
    margin: 0 auto !important;
    margin-top: 7rem !important;
    max-width: 95% !important;
    p{
        margin: 0 !important;
        color: white !important;
        font-size: 1.8rem !important;
    }
    h2{
        font-size: 3rem;
        margin-bottom: 3rem;
        color: #876241;
    }
    h3{
        color: $logoLight !important;
    }
    .card-custom{
        background-color: $grayBlog !important;
        width: 90% !important;
    }
    .card-custom-img::after {
        border-left-color: $grayBlog !important;
    }
    .card-body{
        padding-top: 0px !important;
    }
    .card-footer{
        margin: 0 !important;
        padding: 1.5rem !important;
    }
}



