#section-contact{
    margin-top: 1rem;
    margin-bottom: 0 !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    border-radius: 2rem;
    div.container{
        div.row{
            div.col-12{
                img{
                    margin-top: 5rem;
                    margin-bottom: 5rem;
                    border-radius: 50%;
                    -webkit-box-shadow:0px 0px 90px 20px rgba(212,166,106,0.77);
                    -moz-box-shadow: 0px 0px 90px 20px rgba(212,166,106,0.77);
                    box-shadow: 0px 0px 90px 20px rgba(212,166,106,0.77);

                }
                h4{
                    font-weight: 600;
                    font-size: 2.2rem;
                    color: $logoLight;
                }
                a{
                    color: white;
                    font-size: 2.5rem;
                    i{
                        color: white;
                        font-size: 2.5rem;
                    }
                }
                a.fb{
                    i{
                        font-size: 5rem !important;
                    }
                }
            }
        }
    }
}

@media(min-width: 768px){
    #section-contact2{
        h3{
            width: 75%;
            font-size: 2.5rem !important;
        }
    }
}

#section-contact2{
    background-color: white;
    color: $logoDark;
    margin-top: 0 !important;
    padding-top: 7rem;
    border-radius: 0px 0px 2rem 2rem;
    div.container{
        div{
            h3{
                font-size: 2rem;
                margin-bottom: 5rem !important;
                margin: 0 auto;
            }
        }
        div.map{
            padding-bottom: 5rem;
            iframe{
                border: 3px solid $logoDark !important;
                border-radius: 20px;
                max-width: 28rem;
            }
        }
    }
}

#form{
    input{
        font-size: 1.8rem;
    }
    textarea{
        font-size: 1.8rem;
    }
    .butt{
        display: inline;
        font-size: 1.8rem;
        color: $grayBlog !important;
        padding: 8px 25px !important;
        border-radius: 2rem;
        background: $backgroundColor;
        &:hover{
            background: $backgroundHover;
            color: white !important;
        }
    }
}

@media(min-width: 360px){
    iframe{
        max-width: 31rem !important;
    }
}

@media(min-width: 410px){
    iframe{
        max-width: 35rem !important;
    }
}

@media(min-width: 500px){
    iframe{
        max-width: 40rem !important;
    }
}
@media(min-width: 1200px){
    iframe{
        max-width: 50rem !important;
    }
}


