#section-landing{
    padding-top: 5rem;
    background-color: white;
    color: $logoDark;
    border-radius: 0 0 2rem 2rem;
    div.container{
       
        h2{
            font-size: 3.5rem;
        }
        div.text-center{
            h2{
                font-size: 3.5rem;
                margin-bottom: 7rem;
            }
        }
        div.col-12{
            margin: 0 auto;
            p.first-letter{
                &::first-letter{
                    font-size: 5rem;
                    line-height: 5rem;
                }
            }
        }
    }
    h3{
        font-size: 2.2rem;
    }
}